Source: maldetect
Section: utils
Priority: optional
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Vcs-Git: git://git@github.com:waja/maldetect.git
Vcs-Browser: https://github.com/waja/maldetect
Homepage: http://www.rfxn.com/projects/linux-malware-detect/

Package: maldetect
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ed, gawk | mawk, bsd-mailx | mailx, wget
Recommends: clamav, inotify-tools
Description: Linux malware detector
 Linux Malware Detect (LMD) is a malware scanner for Linux released under the
 GNU GPLv2 license, that is designed around the threats faced in shared hosted
 environments. It uses threat data from network edge intrusion detection systems
 to extract malware that is actively being used in attacks and generates
 signatures for detection. In addition, threat data is also derived from user
 submissions with the LMD checkout feature and from malware community
 resources. The signatures that LMD uses are MD5 file hashes and HEX pattern
 matches, they are also easily exported to any number of detection tools such as
 ClamAV.
